<div style="height: 220px; margin-bottom: 30px">
    <canvas id="fact_check_sources_chart"></canvas>
</div>

<script>
    function newDate(days) {
        return moment().add(days, 'd');
    }
    var config = {
        type: 'doughnut',
        data: {
            labels: [
                {% for source in domain.fact_check_sources %}'{{ source.name }}', {% endfor %}
            ],
            datasets: [{
                data: [
                    {% for source in domain.fact_check_sources %}{{ source.num_fact_checks }}, {% endfor %}
                ]
            }]
        },
        options: Object.assign({
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                colorschemes: {
                    scheme: 'brewer.Greys5'
                }
            }
        }, Chart.defaults.doughnut)
    };
    var ctx = document.getElementById("fact_check_sources_chart").getContext("2d");
    new Chart(ctx, config);
</script>