{% extends "pure_layout.html" %}
{% block body_content %}

<header class="navbar">
    <section class="navbar-section"></section>
    <section class="navbar-center">
        <a href="/" class="navbar-brand mr-2">
            {% if language == 'sk' %}CovidDez.info{% else %}CovidMis.info{% endif %}
        </a>
    </section>
    <section class="navbar-section"></section>
</header>

{% include '_graph.html' %}

{% endblock %}