{% extends "layout.html" %}
{% block content %}

<div class="columns" style="cursor: pointer" onclick="window.location = '/graph'">
    <div class="column col-12">
        {% with graph_height=350, freeze=true, zoom_out=true %}
            {% include '_graph.html' %}
        {% endwith %}

        <h3 class="text-center" style="margin-bottom: 70px">
            {% if language == 'sk' %}Preverené tvrdenia o ochorení COVID-19.{% else %}Fact checks related to COVID-19.{% endif %}
        </h3>

    </div>
</div>

<div id="carousel" class="columns bg-gray"></div>

<script>
    let factCheckGroups = {{ fact_check_groups_json }};
    renderCarousel('carousel', factCheckGroups);
</script>

<h4 style="margin-top: 70px" class="text-center">
    {% if language == 'sk' %}Najnovšie{% else %}Latest{% endif %}
</h4>

<div class="timeline">
    {% for period in domain.get_periods() %}

    <div class="timeline-item" id="timeline-example-1">
        <div class="timeline-left">
            <a class="timeline-icon icon-lg tooltip" name="{{ period.id() }}" href="#{{ period.id() }}" data-tooltip="{{ period.format() }}"><i class="icon icon-check"></i></a>
        </div>
        <div class="timeline-content">
            <div class="tile">
                <div class="tile-content">
                    <p class="tile-subtitle">{{ period.format() }}</p>
                    <dl>
                    {% for group in period.groups %}
                        <dt>
                            <a href="{{ group.promoted_fact_check.path() }}">{{ group.promoted_fact_check.get_statement() }}</a>
                        </dt>
                        <dd>
                            <a href="{{ group.promoted_fact_check.url }}">{{ group.promoted_fact_check.domain() }}</a>,
                            <span class="{{ group.promoted_fact_check.rating_style() }}">{{ group.promoted_fact_check.get_rating() }}</span>
                        </dd>
                        <ul>
                            {% for fact_check in group.unpromoted_fact_checks() %}
                            <dt>
                                <a href="{{ fact_check.path() }}">{{ fact_check.get_statement() }}</a>
                            </dt>
                            <dd>
                                <a href="{{ fact_check.url }}">{{ fact_check.domain() }}</a>,
                                <span class="{{ fact_check.rating_style() }}">{{ fact_check.get_rating() }}</span>
                            </dd>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                    </dl>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}