<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{% if language == 'sk' %}Preverené tvrdenia o víruse COVID-19.{% else %}Fact checks related to COVID-19.{% endif %}">
    <meta name="author" content="Matúš Tomlein">

    <link rel="icon" href="/images/icon.png">

    <link rel="stylesheet" href="/assets/stylesheets/spectre.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/spectre-exp.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/spectre-icons.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/Chart.min.css">
    <script type="text/javascript" src="/assets/javascripts/libs/force-graph.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/libs/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/libs/chartjs-plugin-colorschemes.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/libs/moment.js"></script>
    <script type="text/javascript" src="/assets/javascripts/libs/mithril.js"></script>
    <script type="text/javascript" src="/assets/javascripts/app/render.js"></script>
</head>

<body>

    {% block body_content %}{% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6380950-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-6380950-6');
    </script>

</body>
</html>